img{
    width: 100%;
}
figure{
    margin: 0;
    padding: 0;
}
body{
    background-color: rgb(0, 0, 128); /*navy*/
}
main{
    background-color: rgb(173, 216, 230); /*light blue*/
    margin: 0 auto;
    margin-top: 215px;
    width: 97%;
    text-align: center;
}
header{
    min-height: 100vh;
    padding: 15px;
}
nav{
    position: fixed;
    top: 0px;
    width: 97%;
    background-color: rgb(0, 0, 128); /*navy*/
    margin-left: 0;
}
nav ul{
    padding-left: 5px;
    list-style: none;
}
nav ul li a{
    display: block;
    padding: 10px 10px;
    background-color: rgb(255, 255, 255); /*white*/
    border: 1px solid black;
    text-align: center;
    text-decoration: none;
}
nav ul li a:link{
    color: rgb(0, 0, 128); /*navy*/
}
nav ul li a:visited{
    color: rgb(0, 128, 0); /*green*/
}
nav ul li a:hover{
    background-color: rgb(128, 128, 128); /*gray*/
    color: rgb(255, 255, 255); /*white*/
}
section{
    min-height: 100vh;
    padding: 215px 10px 0 10px; /*215 top, 10 right, 0 bottom, 10 left*/
}
section:nth-child(even){
    background-color: rgb(255, 255, 255); /*white*/
}